.portfolio__item {
  background: #171f38;
  padding: 0px 20px 20px 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.4s ease-in;
}

.portfolio__item h6 {
  color: #0092cc;
  margin-bottom: 20px;
  background: transparent;
}

.portfolio__box{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: transparent;
  gap: 5px;
}

.portfolio__img {
  margin-top: 30px;
  background: transparent;
}

.portfolio__img img {
  border-radius: 10px;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: #fff;
  background: #b2becd68;
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
}

.portfolio__live {
  margin-left: -100px;
  margin-top: 30px;
  display: none;
  transition: all 0.4s ease-in;
}

.portfolio__item:hover .portfolio__live {
  margin-left: 0;
  display: block;
}

.portfolio__item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 0.1rem solid #0092cc;
  box-shadow: 0.1rem 0.4rem 1.5rem rgba(0, 0, 0, 0.32);
}

@media only screen and (max-width: 576px) {
  .portfolio__img img {
    width: 100% !important;
  }
}
